<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>All people</title>
</head>
<body>


<div class="container-fluid bg-dark">

    <div class="pt-2">  </div>

        <div class="row">
            <div class="col-lg-6">
                <p class="h4" style="color: white" valign="center" align="left">
                    &nbsp;&nbsp;&nbsp;
                    <span class="font-weight-bold" th:utext="${person.getEmail()} + ' '">
                                </span>
                    with roles:&nbsp;
                    <span th:each="roleInList, iStat : ${person.getRoles()}"
                          th:text="!${iStat.last} ?
                                (${#strings.substring(roleInList.role,5)} + ' ')
                                : (${#strings.substring(roleInList.role,5)})">
                                </span>
                </p>

            </div>

            <div class="col-lg-6">
                <p class="h5" style="color: white" valign="center" align="right">
                    <a style="color: darkgray" th:href="@{/logout}">Logout &nbsp;</a>
                </p>

            </div>

        </div>

    <div class="pt-2">  </div>

</div>


<!--============================================================-->

<div class="container-fluid">
    <div class="row">

<!--        ============ left panel ============-->

        <div class="col-lg-2 px-0">
            <div>
                <br>
                <ul class="list-group">

                    <li type="button" onclick="location.href='/admin'" class="list-group-item active" >Admin</li>
                    <li type="button" onclick="location.href='/user'" class="list-group-item" >User</li>

                </ul>
            </div>
        </div>

<!--        ============ right body ============-->

        <div class="col-lg-10 bg-light">

            <div class="container-fluid vh-100">

                <div class="pt-2">  </div>
                <p class="h1" valign="center" align="left"> Admin panel </p>
                <div class="pt-2">  </div>


                <!--            ++++ nav-tabs ++++-->

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <!--            ++++ main table ++++-->

                        <div class="card">
                            <div class="card-block">
                                <table class="table table-hover table-flush">
                                    <thead>
                                    <tr style="background-color: #f2f2f2">
                                        <th>
                                            <p class="h4" valign="center" align="left"> All users </p>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>

                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col">

                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>First Name</th>
                                                                <th>Last Name</th>
                                                                <th>Age</th>
                                                                <th>Email</th>
                                                                <th>Role</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            <tr th:each="person, state : ${people}">
                                                                <td th:utext="${person.getId()}">..</td>
                                                                <td th:utext="${person.getName()}">..</td>
                                                                <td th:utext="${person.getSurname()}">..</td>
                                                                <td th:utext="${person.getAge()}">..</td>
                                                                <td th:utext="${person.getEmail()}">..</td>
                                                                <td>

                        <span th:each="roleInList, iStat : ${person.getRoles()}"
                              th:text="!${iStat.last} ?
                        (${#strings.substring(roleInList.role,5)} + ' ')
                        : (${#strings.substring(roleInList.role,5)})">
                        </span>

                                                                </td>

                                                                <td>
<!--                                                            <a type="button" th:href="@{/admin/edit/(id=${person.id})}" class="btn btn-info eBtn"-->
<!--                                                                    data-toggle="modal" data-target="#editModal">Edit</a>-->

                                                            <a type="button" class="btn btn-info eBtn" data-toggle="modal" data-target="#editModal">Edit</a>

<!--                                                            <button type="button" class="btn btn-info eBtn" data-toggle="modal" data-target="#editModal"-->
<!--                                                                    th:onclick="|window.location.href='@{/admin/edit/(id=${person.id})}'|"> Edit </button>-->

<!--                                                            <form th:action="@{/admin/{id}/edit(id=${person.getId()})}">-->
<!--                                                                <input type="submit" value="EDIT"/>-->
<!--                                                            </form>-->

<!--                                                            <button type="submit" class="btn btn-info" onclick="@{/admin/{id}/edit(id=${person.getId()})}">-->
<!--                                                                Edit-->
<!--                                                            </button>-->
                                                                </td>
                                                                <td>
<!--                                                            <form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">-->
<!--                                                                <input type="submit" value="DELETE"/>-->
<!--                                                            </form>-->

<!--                                                            <button class="btn btn-danger eBtn">Delete</button>-->

                                                                    <button type="button" class="btn btn-danger eBtn" data-toggle="modal" data-target="#editModal">Delete</button>
                                                                </td>
                                                            </tr>
                                                            </tbody>

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>


                                        </td>

                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!--            ++++ main table ++++-->

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                        <!--            ++++ new user ++++-->

                        <div class="card">
                            <div class="card-block">
                                <table class="table table-hover table-flush">
                                    <thead>
                                    <tr style="background-color: #f2f2f2">
                                        <th>
                                            <p class="h4" valign="center" align="left"> Add new user </p>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>

                                            <div class="container" align="center">
                                                <div class="row">
                                                    <div class="col">

                                                        <form th:method="POST" th:action="@{/admin}" th:object="${person}">

                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="nameNew" class="col-form-label font-weight-bold py-0"> First name </label>
<!--                                                            <input type="text" class="form-control py-0" id="nameNew" name="name"/>-->
                                                            <input type="text" class="form-control py-0" th:field="*{name}" id="nameNew" name="name"/>
                                                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                                            </div>


                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="surnameNew" class="col-form-label font-weight-bold py-0"> Last Name </label>
<!--                                                            <input type="text" class="form-control py-0" id="surnameNew" name="surname"/>-->
                                                            <input type="text" class="form-control py-0" th:field="*{surname}" id="surnameNew" name="surname"/>
                                                            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                                                            </div>


                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="ageNew" class="col-form-label font-weight-bold py-0"> Age </label>
<!--                                                            <input type="text" class="form-control py-0" id="ageNew" name="age"/>-->
                                                            <input type="text" class="form-control py-0" th:field="*{age}" id="ageNew" name="age"/>
                                                            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                                                            </div>


                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="emailNew" class="col-form-label font-weight-bold py-0"> Email </label>
<!--                                                            <input type="text" class="form-control py-0" id="emailNew" name="email"/>-->
                                                            <input type="text" class="form-control py-0" th:field="*{email}" id="emailNew" name="email"/>
                                                            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                                            </div>


                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="passwordNew" class="col-form-label font-weight-bold py-0"> Password </label>
<!--                                                            <input type="text" class="form-control py-0" id="passwordNew" name="password"/>-->
                                                            <input type="text" class="form-control py-0" th:field="*{password}" id="passwordNew" name="password"/>
                                                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                                            </div>


                                                            <div class="form-group col-sm-4 py-0" align="center">
                                                            <label for="rolesNew" class="col-form-label font-weight-bold py-0"> Role </label>
                                                                <div class="pt-0">  </div>


                                                            <!--    manual ok-->
                                                            <!--    <input type="text" th:field="*{roles}" id="role"/>-->
                                                            <!--    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>-->

                                                            <!--    <select th:field="*{roles}" id="role">-->
                                                            <!--        <option th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>-->
                                                            <!--        <option th:value="'ROLE_USER'" th:text="USER"></option>-->
                                                            <!--    </select>-->

                                                            <!--    <input type="checkbox" th:field="*{roles}" th:text="ADMIN" th:value="'ROLE_ADMIN'"/>-->
                                                            <!--    <input type="checkbox" th:field="*{roles}" th:text="USER" th:value="'ROLE_USER'"/>-->

                                                            <input type="checkbox" th:field="*{roles}" th:text="ADMIN" th:value="'ROLE_ADMIN'"/>
                                                            <input type="checkbox" th:field="*{roles}" th:text="USER" th:value="'ROLE_USER'"/>

                                                            <!--        <th:block th:each="role : ${person.getRoles()}">-->
                                                            <!--            <input type="checkbox" name="sel_roles" id="role" th:field="*{roles}" th:value="${role.id}" th:text="${role.role}" />-->
                                                            <!--        </th:block>-->

                                                            <!--    <input type="checkbox" th:field="*{roles}" th:text="ADMIN" th:value="${roleAdmin.getName()}">-->
                                                            <!--    <input type="checkbox" th:field="*{roles}" th:text="USER" th:value="${roleUser.getName()}">-->
                                                            </div>

                                                            <button type="submit" class="btn btn-success">Add new user</button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>


                                        </td>

                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!--            ++++ new user ++++-->


                    </div>
                </div>

                <!--            ++++ nav-tabs ++++-->




            </div>

        </div>



    </div>
</div>




<!--        ============ modal edit ============-->

        <div class="myForm">

<!--            <form th:action="@{/admin/{id}/edit(id=${person.getId()})}" method="post">-->
            <form th:action="@{/admin/edit/(id=${person.getId()})}" method="post">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
<!--                            <form>-->
                            <div class="form-group" align="center">
                                <label for="id" class="col-form-label font-weight-bold">ID</label>
                                <input type="text" class="form-control" id="id" name="id" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="name" class="col-form-label font-weight-bold">First Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="surname" class="col-form-label font-weight-bold">Last Name</label>
                                <input type="text" class="form-control" id="surname" name="surname" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="age" class="col-form-label font-weight-bold">Age</label>
                                <input type="text" class="form-control" id="age" name="age" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="email" class="col-form-label font-weight-bold">Email</label>
                                <input type="text" class="form-control" id="email" name="email" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="password" class="col-form-label font-weight-bold">Password</label>
                                <input type="text" class="form-control" id="password" name="password" value="">
                            </div>
                            <div class="form-group" align="center">
                                <label for="roles" class="col-form-label font-weight-bold">Role</label>
                                <input type="text" class="form-control" id="roles" name="roles" value="">
                            </div>

<!--                            </form>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Edit" />
                        </div>
                    </div>
                </div>
            </div>

            </form>

        </div>







<!--<div th:each="person : ${people}">-->
<!--    <a th:href="@{/people/{id}(id=${person.getId()})}"  th:text="${person.getName() + ' ' + person.getSurname() + ', age ' + person.getAge()}"></a>-->
<!--</div>-->

<br>
<hr>

<!--<a th:href="@{/people/new}">create new user</a>-->
<form th:action="@{/admin/new}">
    <input type="submit" value="CREATE NEW"/>
</form>
<!--<br>-->
<!--<form th:action="@{/logout}">-->
<!--    <input type="submit" value="LOGOUT"/>-->
<!--</form>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!--<script th:src="@{js/main.js}" src="../../static/js/main.js"></script>-->
<!--<script type="text/javascript" src="/js/main.js"></script>-->

<script>
    $(document).ready(function() {
        $('li').click(function() {
            $('li.list-group-item.active').removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

<script>
    $(document).ready(function(){
        $('.table .eBtn').on('click', function(event){
            // event.preventDefault();
            // var href = $(this).attr('href');
            //
            // $.get(href, function (person, status) {
            //     $('.myForm #id').val(person.id);
            //     $('.myForm #name').val(person.name);
            //     $('.myForm #surname').val(person.surname);
            //     $('.myForm #age').val(person.age);
            //     $('.myForm #email').val(person.email);
            //     $('.myForm #password').val(person.password);
            //     $('.myForm #roles').val(person.roles);
            //
            // });

        $('.myForm #editModal').modal();
        });
    });
</script>

</body>
</html>